body {
  margin-top: 5em;
}

.category {
  display: flex;
  width: 100%;
  height: 35vh;
  flex-wrap: wrap;
  overflow-x: scroll;
  flex-direction: column;
  color: white;
  font-size: 2em;
  justify-content: center;
  align-items: center;
}

.cat-item {
  border: 1px solid;
  height: 200px;
  width: 20%;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.cat-item:nth-child(1) {
  background-color: darkslategray;
}
.cat-item:nth-child(2) {
  background-color: darkcyan;
}
.cat-item:nth-child(3) {
  background-color: darkmagenta;
}
.cat-item:nth-child(4) {
  background-color: rgb(156, 128, 93);
}
.cat-item:nth-child(5) {
  background-color: rgb(104, 15, 116);
}
.cat-item:nth-child(6) {
  background-color: rgb(137, 192, 49);
}
.cat-item:nth-child(7) {
  background-color: rgb(54, 48, 132);
}
.cat-item:nth-child(8) {
  background-color: rgb(225, 49, 43);
}
.cat-item:nth-child(9) {
  background-color: rgb(6, 42, 4);
}
.cat-item:nth-child(10) {
  background-color: rgb(37, 4, 2);
}



.black{
    /* background-color: black !important; */
    scale: 1.2;
   
}


